.NewArrivalsContainer {
	padding: 4rem 0 3rem 0;
	display: flex;
	align-items: center;
	flex-direction: column;

	& .NewArrivalsHeading {
		font-size: 3rem;
		font-weight: 500;
	}

	& .NewArrivalsSubHeading {
		color: gray;
		font-size: 18px;
		text-align: center;
		max-width: 75%;
		line-height: 1.8rem;
	}

	& .CardContainerFlex {
		width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

		& .CardContainer {
			padding: 2rem 0;
			width: 85%;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 2rem 3rem;
			justify-items: center;
		}
	}

	& .NewArrivalsSeeAllBtn {
		width: 10rem;
		height: 2.5rem;
		font-size: 16px;
		border-radius: 50px;
		border: none;
		cursor: pointer;
		background-color: #000;
		color: white;
		box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2.6px;

		&:active {
			box-shadow: rgba(0, 0, 0, 0.25) -2px -2px 2.6px;
		}
	}
}

@media (max-width: 1440px) {
	.NewArrivalsContainer {
		& .CardContainerFlex {
			& .CardContainer {
				gap: 1.5rem 1.5rem;
			}
		}
	}
}

@media (max-width: 1024px) {
	.NewArrivalsContainer {
		& .CardContainerFlex {
			& .CardContainer {
				gap: 1rem 2rem;
			}
		}
	}
}

@media (max-width: 768px) {
	.NewArrivalsContainer {
		& .NewArrivalsSubHeading{
			max-width: 80%;
		}
		& .CardContainerFlex {
			& .CardContainer {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}

@media (max-width: 575px) {
	.NewArrivalsContainer {
		& .NewArrivalsSubHeading{
			max-width: 85%;
		}
		& .CardContainerFlex {
			& .CardContainer {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}
}