.PaymentMethodsMain {
	display: flex;
	gap: 1.5rem;
	line-height: 0px;

	.CartItemsMain{
		display: flex;
		gap: 1.5rem;
		flex-direction: column;
		max-height: 65vh;
		overflow-x: hidden;
		overflow-y: auto;
		width: 80%;

		.CartItemsStyles {
			& :global(.ant-radio-group){
				width: 100%;
			}

			& :global(.ant-card) {
				padding: 0.5rem;
				display: flex;
				height: 5rem;
				align-items: center;
				width: 100%;
				margin-bottom: 1rem;
		
				& :global(.ant-card-body) {
					padding: 0;
					display: flex;
					gap: 1rem;
					width: 100%;
					height: 100%;
		
					&::after,
					&::before {
						display: none;
					}

					& :global(.ant-radio-wrapper){
						width: 100%;
						height: 100%;
						align-items: center;

						& span:nth-of-type(2){
							align-items: center;
							display: flex;
							gap: 0.6rem;
						}
					}
				}
			}
		}
	}
}
