.SaleContainer {
	padding: 4rem;
	display: flex;
	align-items: center;
	gap: 2rem;
	height: 100%;

	& .SaleImageContainer {
		width: 65%;
		& img {
			border-radius: 12px;
			width: 100%;
		}
	}

	& .SaleContentContainer {
		width: 35%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-around;
		align-self: stretch;

		& .SaleContentHeading {
			font-size: 3rem;
			font-weight: 500;
			line-height: 3.5rem;
		}

		& .SaleContentSubHeading {
			color: gray;
			font-size: 18px;
			line-height: 1.8rem;
		}

		& .SeeOnMapsBtn {
			width: 10rem;
			height: 2.5rem;
			font-size: 16px;
			border-radius: 50px;
			border: none;
			cursor: pointer;
			background-color: #000;
			color: white;
			box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2.6px;

			&:active {
				box-shadow: rgba(0, 0, 0, 0.25) -2px -2px 2.6px;
			}
		}

		& .SaleFlashBatch {
			& .SaleFlashBatchHeading {
				font-size: 1rem;
				font-weight: 600;
			}
			& .SaleFlashBatchPercentage {
				font-size: 6rem;
				font-weight: 500;
				line-height: 7rem;
			}
		}
	}
}
