.ModalMainContainer {
	& :global(.ant-modal-body){
		display: flex;
		justify-content: center;
	}
	
	& .ProfileAvatarMain{
		display: flex;
		justify-content: center;
		
		& .ProfileAvatar{
			width: 8rem;
			height: 8rem;
			font-size: 32px;
			margin-bottom: 24px;
		}
	}

	& .CardFieldsLayout{
		display: flex;
		gap: 3rem;
	}
}
