.CheckoutComponentMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
}

.CartStepMainStyles {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
  max-height: 65vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.DashboardMainHeading{
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 15%;
}