.NavbarMain {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	padding: 1.2rem 2rem;
	justify-content: space-between;
	filter: brightness(100%);

	& .NavbarMenuContainer {
		display: flex;
		align-items: center;
		gap: 2rem;

		& .Link {
			color: white !important;
			font-weight: 300;
			text-decoration: none;
			font-size: 16px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.3rem;
			transform: translateX(0);
			opacity: 1;
			transition: transform 0.3s ease, opacity 0.3s ease;

			&:hover {
				font-weight: 500;
			}

			& p {
				margin: 0;
			}
		}
	}

	& .MenuStyles {
		display: none;
		transform: translateX(-100%);
		opacity: 0;
		transition: transform 0.3s ease, opacity 0.3s ease;
	}
}

@media (max-width: 820px) {
	.NavbarMain {
		& .NavbarMenuContainer {
			gap: 0rem;
			& .Link {
				transform: translateX(100%);
				opacity: 0;
			}

            &.hidden {
                display: none;
            }
		}

		& .MenuStyles {
			display: block;
			transform: translateX(0);
			opacity: 1;
		}
	}
}

@media (max-width: 615px) {
	.NavbarMain {
		padding: 1rem 2rem 1rem 1rem;
		height: 5rem;
	}
}

@media (max-width: 375px) {
	.NavbarMain {
		padding: 0.5rem 1.8rem 0.5rem 0.5rem;
	}
}