.SidebarMain{
  height: 100%;
  display: flex;
  justify-content: center;
  
  & :global(.ant-menu){
    overflow-x: hidden;
    overflow-y: scroll;
  }

  & .MenuMain{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin: 4px;
    padding-left: 8px;
  }
}