.SidebarMain{
  height: 100%;
  border-right: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  & .MenuMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    & .MenuOpt{
      list-style-type: none;
      height: 3rem;
      width: 100%;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: color .3s ease-in-out;
      &:hover{
        color: gray;
        transition: color .3s ease-in-out;
      }
    }
  }
}