.CartItemsStyles {
	display: flex;
	gap: 1.5rem;

	& :global(.ant-card) {
		padding: 1.5rem;
		min-height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 80%;

		& :global(.ant-card-body) {
			padding: 0;
			display: flex;
			gap: 1rem;

			&::after,
			&::before {
				display: none;
			}
		}
	}

	& .CardFieldsLayout{
		display: flex;
		width: 100%;
		gap: 1.5rem;
	}

	& .ShowCartItem{
		width: 40%;
		height: 100%;

		& :global(.ant-card-body){
			flex-direction: column;
			gap: 0.5rem;
		}

		& .Subtotal{
			width: 100%;
			display: flex;
			justify-content: space-between;
			& h2 {
				font-size: 18px;
				font-weight: 500;
			}
		}

		& .Breakdown{
			width: 100%;
			display: flex;
			justify-content: space-between;
			& p {
				font-size: 16px;
				font-weight: 500;
			}
		}
	}
}
